{% extends "layout.html" %}
{% block content %}
    <div class="content">
        <div class="header">
            <div class="header_left">
                <a href="/dashboard">Zurück zu Modulauswahl</a></li>
            </div>
            <div class="header_right">
                <ul>
                    <li><a href="/account">Account</a></li>
                    <li><a href="/logout">Logout</a></li>
                </ul>
            </div>
        </div>
        <div class="section1">
        <h2>Investition</h2>
        <p>
            Hier kommt später eine Beschriebung hin, 
            wie wichtig dieses Mudul ist und was man daraus lernen kann. 
            Zudem soll hieraus klar werden, welche Ziele konkret verfolgt werden können. 
        </p>
        </div>
        <div class="section-modules">
        <div class="learning-units">
            <ul>
            {% for learning_unit in learning_units %}
                <li>
                    <p>{{ learning_unit.name }}</p>
                </li>
            {% endfor %}
            </ul>
        </div>
        </div>
        <div class="column2">
        <div class="profile-card">
            <div class="module-card">
            <img src="../static/assets/development/module.png">
            </div>
            <div class="goals">
            <h4>Deine Ziele:</h4>
            <ul>
                <li>Ziel 1</li>
                <li>Ziel 2</li>
                <li>Ziel 3</li>
            </ul>
            </div>
            <div class="progress">
            <ul>
                <li>
                <p>Investition:</p>
                <p>0 %</p>
                </li>
            </ul>
            </div>
        </div>
        </div>
        <div class="section4">
        </div>
    </div>
{% endblock content %}