{% extends "layout.html" %}
{% block content %}
    <div class="content">
        <div class="section1">
        <h2>Investition</h2>
        <p>
            Hier kommt später eine Beschriebung hin, 
            wie wichtig dieses Mudul ist und was man daraus lernen kann. 
            Zudem soll hieraus klar werden, welche Ziele konkret verfolgt werden können. 
        </p>
        </div>
        <div class="section-modules">
        <div class="learning-units">
            <ul>
            <li>
                <p>Grundlagen</p>
            </li>
            <li>
                <p>Ansparpläne</p>
            </li>
            </ul>
        </div>
        </div>
        <div class="column2">
        <div class="profile-card">
            <div class="module-card">
            <img src="../static/assets/development/module.png">
            </div>
            <div class="goals">
            <h4>Deine Ziele:</h4>
            <ul>
                <li>Ziel 1</li>
                <li>Ziel 2</li>
                <li>Ziel 3</li>
            </ul>
            </div>
            <div class="progress">
            <ul>
                <li>
                <p>Investition:</p>
                <p>25%</p>
                </li>
            </ul>
            </div>
        </div>
        </div>
        <div class="section4">
        </div>
    </div>
{% endblock content %}