<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Didact+Gothic|Libre+Baskerville&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

    {% if title %}
        <title>Fined - {{ title }}</title>
    {% else %}
        <title>Fined</title>
    {% endif %}
    
  </head>
  <body>

        {% block content %}{% endblock %}

  </body>
</html>